/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    font-family: "Arial";
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

body {
    display: grid;
    -ms-grid-columns: auto 1fr;
    grid-template-columns: auto 1fr;
    background-color: rgb(212, 212, 212);
}

.flexrow {

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.flexcolumn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 0.2em;
}

.cursor {
    cursor: pointer;
}

aside {
    color: white;
    height: 100vh;
    background: url(Images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.80);
    padding: 2.8em;
    padding-top: 0.3em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    position: sticky;
    top: 0;

}

.asidediv1 {
    font-size: 1.10em;
    padding: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.3em;
}

.asidediv2 {
    margin: 2em;
    padding: 0.5em;
    text-align: center;
}

.asidediv2-1 p {
    margin-top: 0.5em;
    white-space: nowrap;
    padding-left: 1em;
    font-size: 0.85em;
}

.asidediv2 span {
    padding-top: 0.2em;
}

aside hr {
    width: 14em;
    font-weight: lighter;
    background-color: rgb(116, 110, 110);
    border: none;
    height: 1px;
}

.profile {
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
}

aside ul {
    margin-top: 1.2em;
}

aside li {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.7em;
    color: white;
    font-size: medium;
    margin-top: 0.2em;
}

aside a {
    text-decoration: none;
    color: white;
}

.active {
    background-color: rgb(255, 0, 0);
    border-radius: 3px;
}

aside li+li:hover {
    background-color: rgba(255, 0, 0, 0.2);
    border-radius: 3px;
}

.textpadding {
    padding-top: 0.2em;
    padding-left: 1.7em;
    font-size: 0.85em;
}

.paddingli {
    padding-left: 0.5em;
}

.column2 {
    padding-inline: 2em;
}

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 4em;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0.3em;
}

.circleicon {
    width: 45px;
    height: 45px;
    font-size: 1.3em;
    color: rgb(49, 49, 49);
    background-color: rgb(255, 183, 183);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -14px rgba(0, 0, 0, 0.75);
}

.circleicon:hover {
    box-shadow: 0px 0px 38px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 38px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 38px -12px rgba(0, 0, 0, 0.75);
}

.headerdiv1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.headerdiv1 span {
    padding: 1em;
}

.headerdiv1 p {
    text-align: center;
    -webkit-padding-start: 1.5em;
    padding-inline-start: 1.5em;
    font-size: 1.2em;
}

.menu {
    display: none;
}

.searchinput {
    border-collapse: collapse;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid rgb(199, 199, 199);
    height: 40px;
    position: relative;
    bottom: 4px;
}

.searchinput:focus {
    outline: none;
    border-bottom: 2px solid rgb(84, 0, 0);
}

.searchinput::-webkit-input-placeholder {
    padding-left: 7px;
}

.searchinput::-moz-placeholder {
    padding-left: 7px;
}

.searchinput:-ms-input-placeholder {
    padding-left: 7px;
}

.searchinput::-ms-input-placeholder {
    padding-left: 7px;
}

.searchinput::placeholder {
    padding-left: 7px;
}

.icons3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    position: relative;
    top: 10px;
    margin-left: 2em;
}

.icons3 span {
    color: rgb(85, 83, 83);
}

#number5 {
    width: 15px;
    height: 15px;
    background-color: rgb(67, 0, 0);
    color: white;
    border-radius: 45%;
    padding: 2px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 35px;
    left: 9px;
}

.notification1 {
    background-color: white;
    white-space: nowrap;
    border-radius: 5px;
}

.notification1 li {
    padding: 0.8em 1.5em;
    margin: 0.2em;
    list-style: none;
}

.notification1 li:hover {
    background-color: rgb(100, 26, 26);
    color: white;
    border-radius: 5px;
}

.divnot {
    margin-inline: 2em;
    position: relative;
}

.divnot ul {
    display: none;
    position: absolute;
    right: 22px;
    top: 5px;
    z-index: 1;
}

.divnot:hover .dropdown {
    display: block;
}

.section1 {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-top: 5em;
    padding-inline: 1em;
    padding-bottom: 1em;
}

.boxtitle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;  /* Align the items to the center */
    position: relative;
    bottom: 0.4em;
    padding-bottom: 1em; /* Changes the padding */
}

.boxtitle1 span {
    color: white;
    border-radius: 3px;
    width: 2.7em; /* Change the width*/
    height: 2.7em; /* Change the height*/
    -moz-box-shadow: 0px 7px 37px -14px rgba(0, 0, 0, 0.54);
    background: #09ff00; /* Make the background of the box green */
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    bottom: 0.7em;
    box-shadow: 0px 7px 37px -14px rgba(0, 0, 0, 0.54);



}

.boxtitle1 p {
    padding-left: 1.2em;
    font-size: 1.4em;
}

.article1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 2em;
}

.section1 table {
    border-collapse: collapse;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
}

.section1 iframe {

    min-height: 15rem;
    -webkit-box-flex: 5;
    -ms-flex: 5;
    flex: 5;
}

table tr:not(:last-child) {
    border-bottom: 0.01em solid rgb(226, 214, 214);
}

tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.60em;
}

tr td:first-child {
    width: 60%;
    text-align: left;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 0.2em;
}

td:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 20%;
    text-align: right;
}

td:nth-child(3) {
    text-align: right;
    width: 20%;
    padding-left: 0.2em;
}

.section2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3em 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 3em 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
    margin-top: 4em;
}

.section2>*:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.section2>*:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}

.section2>*:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.section2>*:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
}

.article2-1 {
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding-inline: 1em;
    padding-top: 0.8em;
}

.upperdiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box333 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.box333 p:first-child {
    color: rgb(148, 148, 148);
    font-size: 1em;
}

.section2 hr {
    margin: auto;
    height: 0.05em;
    background-color: rgb(224, 216, 216);
    border: none;
}

.grey {
    font-size: 0.8em;
    color: grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.grey span {
    font-size: medium;
}


.span123 {
    width: 2.7em;
    height: 2.7em;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;  /* Puts all the content to the center */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 3px;  /* Changes the border radius */
    position: relative;  
    bottom: 1.4em;
    box-shadow: 0px 7px 37px -14px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 0px 7px 37px -14px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 7px 37px -14px rgba(0, 0, 0, 0.54);
}

.spanorange {
    background: #ff6f00;

}

.spanpink {
    background: #ff4747;

}

.spangreen {
    background: #00c30d;

}

.spanblue {
    background: rgb(0, 141, 202);

}

.fontsize1 {
    font-size: 1.5em;
    text-align: left;
}

.section3 {
    margin-top: 4em;
}

h2 {
    margin-inline: auto;
    font-weight: 400;
}

.container3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
}

.card {
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;

    justify-content: center;  /* Puts all the content to the center*/
    border-radius: 0px; /* Changes the border radius */
    padding-inline: 3em; /* Adds a padding */

}

.card>* {
    position: relative;
}

.section3 img {
    border-radius: 5px;
    position: relative;
    bottom: 1.2em;
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    -o-transition: transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
    margin-inline: 1em;
    max-width: 100%;
    z-index: 1;
}

.picandspan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.picandspan:hover img {
    position: relative;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
}

.spanicons1 {
    width: 6em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: small;
    position: absolute;
    bottom: 1.5em;
}

.spanicons1> :nth-child(1) {
    color: rgb(182, 167, 167);
    font-size: medium;
}

.spanicons1> :nth-child(2) {
    color: rgb(51, 175, 51);
    font-size: medium;
}

.spanicons1> :nth-child(3) {
    color: rgb(174, 49, 49);
    font-size: medium;
}

.cardtext {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    margin-bottom: 4em;
}

.cardtext :nth-child(1) {
    font-size: larger;
}

.cardtext :nth-child(2) {
    font-size: medium;
    color: rgb(117, 117, 117);
}

.section3 hr {
    height: 1em;
    background-color: rgb(80, 80, 80);
    border: none;
}

.lowerdiv2 {
    padding-top: 1em;
    padding-bottom: 1em;
}

.lowerdiv2 span {
    color: grey;
    font-size: small;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lowerdivright {
    margin-top: 0.2em;
    color: grey;
}

.lowerdivright p {
    font-size: 0.8em;
}

main hr:last-of-type {
    height: 0.05em;
    background-color: rgb(224, 216, 216);
    border: none;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
}

footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
    font-weight: bold;
}

footer a {
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 1024px) {
    aside {
        display: none;
    }

    .circleicon {
        display: none;
    }

    .headerdiv2 {
        display: none;
    }

    .headerdiv1 {
        width: 100%;
    }

    .headerdiv1 p {
        padding-inline: 0;
    }

    .headerdiv1 span {
        padding-inline: 0;
        font-size: xx-large;
    }

    .menu {
        display: block;
    }

    .section1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1em;
    }

    .article1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 1em;
    }

    table {
        width: 100%;
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }

    iframe {
        width: 100%;
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;

    }

    .section3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .container3 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 5em;
    }

    .container3 img {
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .boxtitle1 {
        padding-top: 1em;
    }

    .section2 {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    footer {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 1em;
    }
}