*{padding: 0;
    margin: 0;
    }
     body{
        height:100vh;
        
     }
     
     #span2{display: inline-block;
        background-color: rgb(245, 245, 129);
        border: 2px solid rgb(65, 24, 24);
        padding: 40px ;
        margin: 30px;
        margin-top: 40px;
    font-size: small;
    width: 15cm;}
    
       
    
    
        .span4:hover{color: rgb(195, 238, 39);
    background-color: black;}
    #span2::first-letter{
        font-size: 4em;
    }